*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{
    width: 100%;
}

footer{
    width: 100%;
}

body{
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    height:100%;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.banner{
    max-width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 32px;
    background-color: black;

  
}

.banner img{
    width: 60%;
}

.banner-description{
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.banner-description h1{
    margin-bottom: 24px;
    color: whitesmoke;
    font-size:calc(12px + 3vw);

}

.banner-description p{
    margin-bottom: 16px;
    font-size:calc(12px + 1vw);
    max-width: 880px;
    margin-right: 28px;
}

.banner-description h2{
    margin-bottom: 26px;
    font-size:calc(12px + 2vw);

}

.active{
    width: 60%;
    height: 10%;
    padding: 10px;

    font-size:calc(12px + 1vw);

    background-color:#F5B111 ;
    border-radius: 32px;
    border: none;

    cursor: pointer;
    
}
.our-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 100%;
}

.our-products h1{
    margin-top: 18px;
    font-size: 48px;
    margin-bottom: 12px;
}

.card-carroussel{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
    
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*carrousel*/


.carousel {
    display: flex;
    flex-direction: row;
    margin: 36px 15rem;
    justify-content: center;
    align-items: center;

  }

  .direction {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    width: 100%;

    cursor: pointer;

  }

  
  .arrow {
    width: 60px;

  }


.card-div {
  width: 50vw;

}

.card-scroll {
    display: flex;
    overflow: hidden;
  }




.off:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;

    width: 16vw;
    height: 4vw;

    font-size: 2vw ;

    border-radius: 32px;

  }
  
.banner-description #off p{
    color: rgba(211, 211, 211, 0.4);
    font-size: 12px;
    margin-top:6px;
    margin-right: 0px !important;

  }

  .card-scroll .card button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor:default !important;
    border-radius: 32px;
  }




  @media screen and (max-width: 960px) {
  
    .banner{
      flex-direction: column;
      padding: 12px;
    }

    .banner img{
      width: 100%;

      align-items: center;
      margin-top: 0;
    }

    .banner-description h1{
      font-size: 2.2rem;
      margin-top: 8px;
      margin-bottom: 8px;

    }

    .banner p{
      font-size: 20px;
      margin:0;
      margin-bottom: 12px;
      margin-left: 18px;
      margin-right: 18px;    }

    .banner-description h2{
      font-size: 1.6rem;
    }

    .active{
      height: 42px;
      width: 40%px;
      font-size:calc(12px + 1vw);
      margin-bottom: 16px;
    }

    .our-products h1{
      font-size:calc(12px + 6vw);
    }
    
    .our-products p{
      font-size:calc(12px + 1vw);
    }

  
    .card h2{
      font-size:calc(12px + 2vw);
    }

    .card a{
      margin: 0;
      margin-bottom: 16px;
      font-size:calc(12px + 0.6vw);
      width: 100%;
    }
    .card button{
      height: 30px;
      width: 120px;
    }

    .arrow{
      width: 42px;
    }

  } 