
  .card {
    background-color: black;
    min-width: 49%;
    max-width: 50%;
    text-align: center;
    margin-right: 10px;
    border-radius: 12px;

    color: whitesmoke;
    
  }

  .card img{
    width: 100%;
   border-radius: 10px 10px 0px 0px;
    
  }



  .card p{
    margin-bottom: 38px;
    font-size: 18px;
    margin-right: 26px;
    margin-left: 26px;

}

.card h2{
    margin-bottom: 12px;
    font-size: 22px;

}

.text {
    color: white;
  } 
  
.card button{
   
    height: 38px;
    width: 180px;

    font-size: 1.2rem;

    background-color:#F5B111 ;
    border-radius: 32px;
    border: none;

    cursor: pointer;

    margin-bottom: 26px;
}

.card a {
  font-size: 18px;
  margin-bottom: 12px;

  color: whitesmoke;
}


@media screen and (max-width: 960px) {
  .card {
    background-color: black;
    min-width: 99%;
    max-width: 100%;
    text-align: center;
    margin-right: 10px;
    border-radius: 12px;

    color: whitesmoke;
    
  }

  .card h1{
    margin: 16px 0px 16px 0px;
    font-size:calc(12px + 0.1vw);
  }
 
 
} 